# Flask Configuration
FLASK_ENV=production
SECRET_KEY=your-secret-key-here

# Database Configuration
DB_HOST=your-database-host
DB_NAME=your-database-name
DB_USER=your-database-username
DB_PASSWORD=your-database-password
DB_TABLENAME=saved_products

# AliExpress API Configuration
APP_KEY=your-ali-express-app-key
APP_SECRET=your-ali-express-app-secret
TRACKING_ID=your-tracking-id
